%p
  = "Dear #{@existing_pi.name} & #{@current_pi.name}"
%p
  The Primary PI of the Research Master ID record has been updated. Please see below the detailed information.

%table{ border: '1'}
  %tr
    %th
      RMID
    %th
      Short Title
    %th
      Previous Primary PI
    %th
      Updated Primary PI
    %th
      Creator
    %th
      Update Reason
  %tr
    %td
      = @rm.id
    %td
      = @rm.short_title
    %td
      = @existing_pi.name
    %td
      = @current_pi.name
    %td
      = @rm.creator.name
    %td
      = "according to eIRB record"
%p
  Please contact the SUCCESS Center at (843) 792-8300 or
  = mail_to 'success@musc.edu'
  with any questions you may have.
