!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      = "Dear #{@research_master_id.creator.email}, #{@research_master_id.pi.nil? ? '' : @research_master_id.pi.email}"
    %p
      You have received a message from a Research Master ID admin. You can view the message below.
    %p
      %strong
        Message:
      %p
        = @message
    %p
      Please contact the SUCCESS Center at (843) 792-8300 or
      = mail_to 'success@musc.edu'
      with any questions you may have.
