.panel.panel-primary
  .panel-heading
    Associated Protocols
    = "(RMID: #{params[:id]})"
  .panel-body
    - if @sparc_protocol.nil? && @eirb_protocol.nil? && !@coeus_records.present?
      %h1.text-center
        No Associated Protocols
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %th{:style => "width: 90px;"}
            Type
          %th
            ID
          %th
            PI Name
          %th
            Title
          %tbody
            - unless @sparc_protocol.nil?
              %tr
                %td
                  = display_system_color("SPARC")
                  SPARC
                %td
                  = @sparc_protocol.sparc_id
                %td
                  - unless @sparc_protocol.primary_pi.nil?
                    = "#{@sparc_protocol.primary_pi.first_name} #{@sparc_protocol.primary_pi.last_name}"
                  - else
                    = "N/A"
                %td
                  = @sparc_protocol.long_title
            - unless @eirb_protocol.nil?
              %tr
                %td
                  = display_system_color("EIRB")
                  EIRB
                %td
                  = @eirb_protocol.eirb_id
                %td
                  - unless @eirb_protocol.primary_pi.nil?
                    = "#{@eirb_protocol.primary_pi.first_name} #{@eirb_protocol.primary_pi.last_name}"
                  - else
                    = "N/A"
                %td
                  = @eirb_protocol.long_title
            - @coeus_records.find_each do |cr|
              %tr
                %td
                  = display_system_color("COEUS")
                  = cr.type
                %td
                  = cr.mit_award_number
                %td
                  = 'N/A'
                %td
                  = cr.title
