-# Copyright © 2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.panel.panel-primary
  .panel-heading
    Associated Protocols
    = "(RMID: #{params[:id]})"
  .panel-body
    - if @sparc_protocol.nil? && @eirb_protocol.nil? && !@coeus_records.present? && !@cayuse_records.present?
      %h1.text-center
        No Associated Protocols
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %th{:style => "width: 95px;"}
            Type
          %th
            ID
          %th
            PI Name
          %th
            Title
          %tbody
            - unless @sparc_protocol.nil?
              %tr
                %td
                  = display_system_color("SPARC")
                  SPARC
                %td
                  = @sparc_protocol.sparc_id
                %td
                  - unless @sparc_protocol.primary_pi.nil?
                    = "#{@sparc_protocol.primary_pi.first_name} #{@sparc_protocol.primary_pi.last_name}"
                  - else
                    = "N/A"
                %td
                  = @sparc_protocol.long_title
            - unless @eirb_protocol.nil?
              %tr
                %td
                  = display_system_color("EIRB")
                  EIRB
                %td
                  = @eirb_protocol.eirb_id
                %td
                  - unless @eirb_protocol.primary_pi.nil?
                    = "#{@eirb_protocol.primary_pi.first_name} #{@eirb_protocol.primary_pi.last_name}"
                  - else
                    = "N/A"
                %td
                  = @eirb_protocol.long_title
            - @coeus_records.find_each do |cr|
              %tr
                %td
                  = display_system_color("COEUS")
                  = cr.type
                %td
                  = cr.mit_award_number
                %td
                  = 'N/A'
                %td
                  = cr.title
            - @cayuse_records.find_each do |cr|
              %tr
                %td
                  = display_system_color("CAYUSE")
                  = cr.type
                %td
                  = cr.cayuse_project_number
                %td
                  = cr.cayuse_pi_name
                %td
                  = cr.title
