.panel.panel-primary
  .panel-heading
    Associated Protocols
  .panel-body
    - if @sparc_protocol.nil? && @eirb_protocol.nil?
      %h1.text-center
        No Associated Protocols
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %th
            Type
          %th
            ID
          %th
            PI Name
          %th
            Title
          %tbody
            - unless @sparc_protocol.nil?
              %tr
                %td
                  SPARC
                %td
                  = @sparc_protocol.sparc_id
                %td
                  = "#{@sparc_protocol.primary_pi.first_name} #{@sparc_protocol.primary_pi.last_name}"
                %td
                  = @sparc_protocol.long_title
            - unless @eirb_protocol.nil?
              %tr
                %td
                  EIRB
                %td
                  = @eirb_protocol.eirb_id
                %td
                  - unless @eirb_protocol.primary_pi.nil?
                    = "#{@eirb_protocol.primary_pi.first_name} #{@eirb_protocol.primary_pi.last_name}"
                  - else
                    = "N/A"
                %td
                  = @eirb_protocol.long_title
