-# Copyright © 2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

= form_for @research_master, html: { class: 'form-horizontal research-master-form' }, remote: true do |f|
  .modal-content
    .modal-header
      %button{ class: 'close', data: { dismiss: 'modal' } }
        %span
          &times;
      %h4.modal-title
        = "#{@research_master.new_record? ? 'New' : 'Edit' } Research Master Record"
    .modal-body
      = hidden_field_tag 'pi_name', (f.object.pi.present? ? f.object.pi.name : nil)
      = hidden_field_tag 'pi_netid', (f.object.pi.present? ? f.object.pi.net_id : nil)
      = hidden_field_tag 'pi_email', (f.object.pi.present? ? f.object.pi.email : nil)
      = hidden_field_tag 'pi_first_name', (f.object.pi.present? ? f.object.pi.first_name : nil)
      = hidden_field_tag 'pi_last_name', (f.object.pi.present? ? f.object.pi.last_name : nil)
      = hidden_field_tag 'pi_middle_initial', (f.object.pi.present? ? f.object.pi.middle_initial : nil)
      = hidden_field_tag 'pi_pvid', (f.object.pi.present? ? f.object.pi.pvid : nil)
      .form-group
        = f.label :search_term, t(:research_masters)[:new][:fields][:search_term], class: 'col-xs-3 control-label', title: t(:research_masters)[:new][:tooltips][:search_term]
        .col-xs-9
          .col-xs-3
            .radio
              = f.label :search_term do
                = f.radio_button :search_term, 'name', checked: true, class: 'search-term-options'
                Name
          .col-xs-3
            .radio
              = f.label :search_term do
                = f.radio_button :search_term, 'email', class: 'search-term-options'
                Email
          .col-xs-3
            .radio
              = f.label :search_term do
                = f.radio_button :search_term, 'netid', class: 'search-term-options'
                Net ID
      .form-group
        %label{class: 'col-xs-3 control-label', data: { toggle: 'tooltip', animation: 'false' }, title: t(:research_masters)[:new][:tooltips][:pi_name]}
          = t(:research_masters)[:new][:fields][:pi_name] + " *"
        .col-xs-8
          .input-group
            = text_field_tag 'pi_name_text_field', (f.object.pi.present? ? f.object.pi.name : ''), class: "form-control #{@research_master.eirb_validated ? 'eirb_locked' : ''}",  placeholder: t(:research_masters)[:new][:placeholders][:pi_name], id: 'research_master_pi_name', disabled: @research_master.eirb_validated
            %span.input-group-btn
              = link_to 'Reset', 'javascript:void(0);',
                class: 'btn btn-default reset-pi-name', disabled: @research_master.eirb_validated
        .col-xs-1
          .spinner
            = image_tag 'spinner_small.gif'
      .form-group
        = label_tag :pi_department, t(:research_masters)[:new][:fields][:department] + mark_required(@research_master, :pi_department), class: 'col-xs-3 control-label', data: { toggle: 'tooltip', animation: 'false' }, title: t(:research_masters)[:new][:tooltips][:department]
        .col-xs-9
          = text_field_tag :pi_department, (f.object.pi.present? ? f.object.pi.department : ''), class: "form-control #{@research_master.eirb_validated ? 'eirb_locked' : ''}", placeholder: t(:research_masters)[:new][:placeholders][:department], disabled: (@research_master.eirb_validated || f.object.pi.try(:interfolio_user?) || @research_master.pi.try(:current_interfolio_user?))
      .form-group
        = f.label :long_title, t(:research_masters)[:new][:fields][:long_title] + mark_required(@research_master, :long_title), class: 'col-xs-3 control-label', data: { toggle: 'tooltip', animation: 'false' }, title: t(:research_masters)[:new][:tooltips][:long_title]
        .col-xs-9
          = f.text_field :long_title, class: "form-control #{@research_master.eirb_validated ? 'eirb_locked' : ''}", placeholder: t(:research_masters)[:new][:placeholders][:long_title], disabled: @research_master.eirb_validated
      .form-group
        = f.label :short_title, t(:research_masters)[:new][:fields][:short_title] + mark_required(@research_master, :short_title), class: 'col-xs-3 control-label', data: { toggle: 'tooltip', animation: 'false' }, title: t(:research_masters)[:new][:tooltips][:short_title]
        .col-xs-9
          = f.text_field :short_title, class: "form-control #{@research_master.eirb_validated ? 'eirb_locked' : ''}", placeholder: t(:research_masters)[:new][:placeholders][:short_title], disabled: @research_master.eirb_validated
      .form-group
        = f.label :funding_source, t(:research_masters)[:new][:fields][:funding_source] + mark_required(@research_master, :funding_source), class: 'col-xs-3 control-label', data: { toggle: 'tooltip', animation: 'false' }, title: t(:research_masters)[:new][:tooltips][:funding_source]
        .col-xs-9
          .radio
            = f.label :funding_source do
              = f.radio_button :funding_source, 'Internal'
              Internal
          .radio
            = f.label :funding_source do
              = f.radio_button :funding_source, 'External'
              External
      .form-group
        = f.label :research_type, t(:research_masters)[:new][:fields][:research_type] + mark_required(@research_master, :research_type), class: 'col-xs-3 control-label'
        .col-xs-9
          = f.select :research_type, grouped_options_for_select(research_type_options_hash, @research_master.research_type), {prompt: t(:research_masters)[:new][:fields][:research_type_dropdown]}, class: "form-control"
          #tooltip_container
        = f.hidden_field :sparc_protocol_id, value: @research_master.sparc_protocol_id
        = f.hidden_field :eirb_protocol_id, value: @research_master.eirb_protocol_id
    .modal-footer
      %button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
        Close
      = f.submit 'Submit', class: 'btn btn-primary submit-rm-record'
