= form_for @research_master, validate: true, html: { class: 'form-horizontal' }, remote: true do |f|
  .form-group
    = f.label :pi_name, 'PI Name', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :pi_name, class: 'form-control',
        placeholder: 'Search for PI Name'
  .form-group
    = f.label :department, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :department, class: 'form-control', placeholder: 'Department'
  .form-group
    = f.label :long_title, 'Long Title', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :long_title, class: 'form-control', placeholder: 'Long Title'
  .form-group
    = f.label :short_title, 'Short Title', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :short_title, class: 'form-control', placeholder: 'Short Title'
  .form-group
    = f.label :funding_source, 'Funding Source', class: 'col-sm-2 control-label'
    .col-sm-10
      .radio
        = f.label :funding_source do
          = f.radio_button :funding_source, 'Internal'
          Internal
      .radio
        = f.label :funding_source do
          = f.radio_button :funding_source, 'External'
          External
  = f.fields_for :associated_record do |ar|
    = ar.hidden_field :sparc_id, value: params[:sparc_id]
    = ar.hidden_field :eirb_id, value: params[:eirb_id]
    -#= ar.hidden_field :coeus_id, value: params[:coeus_id]
  .modal-footer
    %button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
      Close
    = f.submit 'Submit', class: 'btn btn-default'
