.instructions
  .col-lg-12
    .page-header
      %h4
        = t(:instructions)[:header]
  .col-lg-12.form-group
    .col-sm-1.row
      = t(:instructions)[:step1][:label]
    .col-sm-11
      = t(:instructions)[:step1][:text]
  .col-lg-12.form-group
    .col-sm-1.row
      = t(:instructions)[:step2][:label]
    .col-sm-11
      = t(:instructions)[:step2][:text]
  .col-lg-12.form-group
    = raw(t(:instructions)[:additional_information])
