.instructions
  .col-lg-12
    .page-header
      %h4
        = "General Instructions"
  .col-lg-12.instruction
    .col-sm-1.row
      = t(:research_masters)[:index][:instructions][:step1][:label]
    .col-sm-11
      = t(:research_masters)[:index][:instructions][:step1][:text]
  .col-lg-12.instruction
    .col-sm-1.row
      = t(:research_masters)[:index][:instructions][:step2][:label]
    .col-sm-11
      = t(:research_masters)[:index][:instructions][:step2][:text]
  .col-lg-12.instruction
    = t(:research_masters)[:index][:instructions][:additional_information]