-# Copyright © 2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

= form_for @research_master, method: :delete, html: { class: 'form-horizontal' }, remote: true do |f|
  .modal-content
    .modal-header
      %button{ class: 'close', data: { dismiss: 'modal' } }
        %span
          &times;
      %h4.modal-title Why is this RMID being removed?
    .modal-body
      = f.hidden_field 'original_id', value: @research_master.id
      = f.hidden_field 'long_title', value: @research_master.long_title
      = f.hidden_field 'short_title', value: @research_master.short_title
      = f.hidden_field 'creator_id', value: @research_master.creator_id
      = f.hidden_field 'pi_id', value: @research_master.pi_id
      = f.hidden_field 'sparc_protocol_id', value: @research_master.sparc_protocol_id
      = f.hidden_field 'eirb_protocol_id', value: @research_master.eirb_protocol_id
      = f.hidden_field 'research_type', value: @research_master.research_type
      = f.hidden_field 'user_id', value: current_user.id

      .form-group
        %label{class: 'col-xs-4 control-label'}
          = t(:research_masters)[:reason][:reason]
        .col-xs-8
          .input-group
            = select_tag 'reason', options_for_select([ 'Duplicate Entry', 'Incorrect Entry', 'Other' ]), prompt: "Please select a reason", class: "form-control"

      .form-group
        %label{class: 'col-xs-4 control-label'}
          = t(:research_masters)[:reason][:more_details]
        .col-xs-8
          .input-group.explanation_box
            = text_area_tag 'explanation', '', class: "form-control"

    .modal-footer
      %button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
        Close
      = f.submit 'Submit', disabled: true, class: 'btn btn-primary reason_submit'

