- research_masters.each do |research_master|
  %tr{ class: 'rm-row', id: "research_master_#{research_master.id}" }
    %td.research-master{ data: { id: research_master.id } }
      = research_master.id
    %td.research-master{ data: { id: research_master.id } }
      = research_master.pi_name
    %td.research-master{ data: { id: research_master.id } }
      = research_master.department
    %td.research-master{ data: { id: research_master.id } }
      - if research_master.eirb_validated?
        %h6.text-success
          Updated to corresponding eIRB Protocol Title
        = research_master.long_title
      - else
        = research_master.long_title
    %td.research-master{ data: { id: research_master.id } }
      - if research_master.eirb_validated?
        %h6.text-success
          Updated to corresponding eIRB Protocol Short Title
        = research_master.short_title
      - else
        = research_master.short_title
    %td.research-master{ data: { id: research_master.id } }
      = research_master.funding_source
    %td
      = link_to edit_research_master_path(research_master), class: [("btn btn-warning edit-#{research_master.id}"), ('disabled' unless research_master.user_id == current_user.id || current_user.admin?), ('disabled' if research_master.eirb_validated?)], remote: true do
        %span.glyphicon.glyphicon-edit
    %td
      .btn-group
        = link_to 'javascript:void(0)', class: [('btn btn-danger'), (research_master.associated_record.present? ? 'dropdown-toggle' : 'research-master-delete'), ('disabled' unless research_master.user_id == current_user.id || current_user.admin?), ('disabled' if research_master.eirb_validated? && research_master.user_id == current_user.id)], data: { id: research_master.id, toggle: 'dropdown' } do
          %span.glyphicon.glyphicon-remove
          - if research_master.associated_record.present?
            %span.caret
        - if research_master.associated_record.present?
          %ul.dropdown-menu.pull-right
            %li
              = link_to 'Delete Association Only', 'javascript:void(0);', class: 'association-delete', data: { rm_id: research_master.id, association_id: research_master.associated_record.id }
            %li
              = link_to 'Delete', 'javascript:void(0);', class: 'research-master-delete', data: { id: research_master.id }
