- research_masters.each do |research_master|
  %tr{ class: 'rm-row', id: "research_master_#{research_master.id}" }
    %td.research-master{ data: { id: research_master.id } }
      = research_master.id
    %td.research-master{ data: { id: research_master.id } }
      = research_master.pi_name
    %td.research-master{ data: { id: research_master.id } }
      = research_master.department
    %td.research-master{ data: { id: research_master.id } }
      = research_master.long_title
    %td.research-master{ data: { id: research_master.id } }
      = research_master.short_title
    %td.research-master{ data: { id: research_master.id } }
      = research_master.funding_source
    %td
      %button.btn.btn-warning{type: 'button', data: { id: research_master.id } }
        %span.glyphicon.glyphicon-edit
    %td
      .btn-group
        %button.btn.btn-danger{type: 'button', class: (research_master.associated_record.present? ? 'dropdown-toggle' : 'research-master-delete'), data: { id: research_master.id, toggle: 'dropdown' } }
          %span.glyphicon.glyphicon-remove
          - if research_master.associated_record.present?
            %span.caret
        - if research_master.associated_record.present?
          %ul.dropdown-menu.pull-right
            %li
              = link_to 'Delete Association Only', 'javascript:void(0);', class: 'association-delete', data: { rm_id: research_master.id, association_id: research_master.associated_record.id }
            %li
              = link_to 'Delete', 'javascript:void(0);', class: 'research-master-delete', data: { id: research_master.id }
