.panel.panel-primary
  .panel-heading
    Search for Research Master Records
  .panel-body
    = search_form_for(@q, html: { class: 'form-horizontal' }) do |f|
      .optional-search-field{ class: 'hidden'}
        .form-group
          = f.label :id_eq, 'Search by ID', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :id_eq, class: 'form-control', placeholder: 'Search by ID'
      .form-group
        = f.label :pi_name_cont, 'Search by PI Name', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :pi_name_cont, class: 'form-control', placeholder: 'Search by PI Name'
      .optional-search-field{ class: 'hidden'}
        .form-group
          = f.label :department_cont, 'Search by Department', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :department_cont, class: 'form-control', placeholder: 'Search by Department'
      .form-group
        = f.label :short_title_cont, 'Search by Short Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :short_title_cont, class: 'form-control', placeholder: 'Search by Short Title'
      .form-group
        = f.label :long_title_cont, 'Search by Long Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :long_title_cont, class: 'form-control', placeholder: 'Search by Long Title'
      .optional-search-field{ class: 'hidden'}
        .form-group
          = f.label :funding_source_cont, 'Search by Funding Source', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :funding_source_cont, class: 'form-control', placeholder: 'Search by Funding Source'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit class: 'btn btn-success'
      .container
        .row
          .col-sm-4
            = label_tag :show_more, 'Show More'
            .show_more
              = check_box_tag :show_more, 'Show more...', false, id: 'show_more'
      .row
        .col-md-6.col-md-offset-3
          = link_to 'Look Up Protocols', protocols_path, class: 'btn btn-primary btn-block'
    %br
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
            ID
          %th
            PI Name
          %th
            Department
          %th
            Long Title
          %th
            Short Title
          %th
            Funding Source
          %th
            Delete Association
        %tbody
          - @research_masters.each do |research_master|
            %tr{ id: "research_master_#{research_master.id}" }
              %td.research-master{ data: { id: research_master.id } }
                = research_master.id
              %td.research-master{ data: { id: research_master.id } }
                = research_master.pi_name
              %td.research-master{ data: { id: research_master.id } }
                = research_master.department
              %td.research-master{ data: { id: research_master.id } }
                = research_master.long_title
              %td.research-master{ data: { id: research_master.id } }
                = research_master.short_title
              %td.research-master{ data: { id: research_master.id } }
                = research_master.funding_source
              %td
                %button.btn.btn-danger.delete{type: 'button', data: { id: research_master.id } }
                  %span.glyphicon.glyphicon-remove
%div{ class: 'modal fade', id: 'showResearchMasterModal', tabindex: '-1' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{ class: 'close', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          Associated Protocols
      .modal-body
      .modal-footer
        %button{class: 'btn btn-default', data: { dismiss: 'modal' } } 
          Close
