.panel.panel-primary
  .panel-heading
    Search for Research Master Records
  .panel-body
    = search_form_for(@q, html: { class: 'form-horizontal' }) do |f|
      .form-group
        = f.label :pi_name_cont, 'Search by PI Name', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :pi_name_cont, class: 'form-control', placeholder: 'Search by PI Name'
      .form-group
        = f.label :short_title_cont, 'Search by Short Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :short_title_cont, class: 'form-control', placeholder: 'Search by Short Title'
      .form-group
        = f.label :long_title_cont, 'Search by Long Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :long_title_cont, class: 'form-control', placeholder: 'Search by Long Title'
      #optional-search-fields{ style: 'display:none;' }
        .form-group
          = f.label :funding_source_cont, 'Search by Funding Source', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :funding_source_cont, class: 'form-control', placeholder: 'Search by Funding Source'
        .form-group
          = f.label :id_eq, 'Search by RMID', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :id_eq, class: 'form-control', placeholder: 'Search by RMID'
        .form-group
          = f.label :department_cont, 'Search by Department', class: 'col-md-2 control-label'
          .col-md-10
            = f.search_field :department_cont, class: 'form-control', placeholder: 'Search by Department'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit class: 'btn btn-success'
      .container
        .row
          .col-sm-4
            = label_tag :show_more, 'Show More'
            .show_more
              = check_box_tag :show_more, 0, false, id: 'show_more'
      .row
        .col-md-6.col-md-offset-3
          = link_to 'Look Up Protocols', protocols_path, class: 'btn btn-primary btn-block'
    %br
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
            = sort_link(@q, :id, 'RMID')
          %th
            = sort_link(@q, :pi_name, 'PI Name')
          %th
            = sort_link(@q, :department, 'Department')
          %th
            = sort_link(@q, :long_title, 'Long Title')
          %th
            = sort_link(@q, :short_title, 'Short Title')
          %th
            = sort_link(@q, :funding_source, 'Funding Source')
          %th
            Edit
          %th
            Delete Association
        %tbody.research-master-records
          = render "research_master_index_table", research_masters: @research_masters
    .col-md-6.col-md-offset-3
      .text-center
        = link_to 'Create Research Master ID', new_research_master_path, class: 'btn btn-primary btn-block create-research-master', remote: true
%div{ class: 'modal fade', id: 'showResearchMasterModal', tabindex: '-1' }
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{ class: 'close', data: { dismiss: 'modal' } }
          %span
            &times;
        %h4.modal-title
          Associated Protocols
      .modal-body
      .modal-footer
        %button{class: 'btn btn-default', data: { dismiss: 'modal' } } 
          Close
= render "research_masters/new_research_master_modal"
