%nav.navbar.navbar-default.navbar-fixed-top{ style: 'top: 110px !important;' }
  .container-fluid
    .navbar-header
      = link_to 'SPARC', ENV.fetch('SPARC_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'eIRB', ENV.fetch('EIRB_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'ePDS', ENV.fetch('EPDS_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'About RMID', 'http://www.musc.edu/rmid',
        class: 'navbar-brand', target: '_blank'
      %button{ class: 'navbar-toggle collapsed',
      data: { toggle: 'collapse', target: '#navbar' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .visible-xs.visible-sm
        = link_to 'RMID', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse#navbar
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %p.navbar-text
            = "Signed in as #{current_user.email}"
          - if current_user.developer?
            %li
              = link_to new_api_api_key_path do
                API
                %i.glyphicon.glyphicon-flash
        %li
          - if user_signed_in?
            = link_to destroy_user_session_path, method: :delete do
              Log out
              %i.glyphicon.glyphicon-log-out
          - else
            = link_to new_user_session_path do
              Log in
              %i.glyphicon.glyphicon-log-in
        %li
          = link_to root_path do
            Return to Home
            %i.glyphicon.glyphicon-home
