-# Copyright © 2020 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%nav.navbar.navbar-default
  .container
    .navbar-header
      = link_to 'SPARC', ENV.fetch('SPARC_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'eIRB', ENV.fetch('EIRB_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'ePDS', ENV.fetch('EPDS_URL'), class: 'navbar-brand', target: '_blank'
      = link_to 'About RMID', ENV.fetch('ABOUT_URL'),
        class: 'navbar-brand', target: '_blank'
      = link_to 'Removed RMIDs', "/deleted_rmids", class: 'navbar-brand', target: '_blank'
      - if current_user&.admin?
        = link_to 'RMID Admin', admin_research_masters_path, class: 'navbar-brand', target: '_blank'
    #navbar
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %p.navbar-text
            = "Signed in as #{current_user.email}"
          - if current_user.developer?
            %li
              = link_to new_api_api_key_path do
                API
                %i.glyphicon.glyphicon-flash
        %li
          - if user_signed_in?
            - if ENV.fetch('ENVIRONMENT') == 'development'
              = link_to destroy_user_session_path, method: :delete do
                Log out
                %i.glyphicon.glyphicon-log-out
          - else
            = link_to new_user_session_path do
              Log in
              %i.glyphicon.glyphicon-log-in
        %li
          = link_to root_path do
            Home
            %i.glyphicon.glyphicon-home
