%table.table.table-striped
  %thead
    %tr
      %th
        = sort_link(@q, :id, 'RMID')
      %th 
        = sort_link(@q, :long_title, 'Long Title')
      %th
        = sort_link(@q, :short_title, 'Short Title')
      %th 
        = sort_link(@q, :creator_name, 'Creator Name')
      %th 
        = sort_link(@q, :pi_name, 'PI Name')
      %th 
        = sort_link(@q, :sparc_protocol_id, 'SPARC Protocol ID')
      %th 
        = sort_link(@q, :eirb_protocol_id, 'EIRB Protocol ID')
      %th 
        = sort_link(@q, :research_type, 'Research Type')
      %th 
        = sort_link(@q, :user_name, 'Deleted By')
      %th Reason Chosen
      %th Explanation
      %th 
        = sort_link(@q, :created_at, 'Deleted Date')

  %tbody
    - @deleted_rmids.each do |rmid|
      %tr
        %td= rmid.original_id
        %td= rmid.long_title
        %td= rmid.short_title
        %td= rmid.creator.name
        %td= rmid.pi.name
        %td= rmid.sparc_protocol_id
        %td= rmid.eirb_protocol_id
        %td= rmid.research_type.titleize
        %td= rmid.user.name
        %td= rmid.reason
        %td= rmid.explanation
        %td= rmid.created_at.strftime("%D")
