= search_form_for @q do |f|
  = f.label :short_title_cont
  = f.search_field :short_title_cont
  = f.label :title_cont
  = f.search_field :title_cont
  = f.label :sparc_id
  = f.search_field :id
  = f.submit
%table.table.table-striped
  %thead
    %tr
      %th
        ID
      %th
        PI Name
      %th
        Department
      %th
        Long Title
      %th
        Short Title
      %th
        Funding Source
    %tbody
      - @protocols.each do |protocol|
        %tr
          %td= protocol.id
          %td Juan Castillo
          %td You moms department
          %td= protocol.title
          %td= protocol.short_title
          %td Vlad Putin

