.panel.panel-primary
  .panel-heading
    Search for Protocols
  .panel-body
    .row
      .col-xs-10
        = search_form_for(@q, html: { class: 'form-horizontal clear-form' }) do |f|
          .form-group
            = f.label :sparc_id_eq, 'Search by Sparc ID', class: 'col-xs-2 control-label'
            .col-xs-10
              .input-group
                = f.search_field :sparc_id_eq, class: 'form-control', placeholder: 'Sparc ID'
                .input-group-btn
                  %button.btn.btn-danger.clear-selection
                    %i.glyphicon.glyphicon-remove-circle
          .form-group
            = f.label :eirb_id_cont, 'Search by eIRB Pro #', class: 'col-xs-2 control-label'
            .col-xs-10
              .input-group
                = f.search_field :eirb_id_cont, class: 'form-control', placeholder: 'eIRB ID'
                .input-group-btn
                  %button.btn.btn-danger.clear-selection
                    %i.glyphicon.glyphicon-remove-circle
          .form-group
            = f.label :primary_pi_first_name_cont, 'Search by PI Name', class: 'col-xs-2 control-label'
            .col-xs-10
              .input-group
                = f.search_field :primary_pi_first_name_or_primary_pi_last_name_cont, class: 'form-control', placeholder: 'PI Name'
                .input-group-btn
                  %button.btn.btn-danger.clear-selection
                    %i.glyphicon.glyphicon-remove-circle
          .form-group
            = f.label :long_title_cont, 'Search by Title', class: 'col-xs-2 control-label'
            .col-xs-10
              .input-group
                = f.search_field :long_title_cont, class: 'form-control', placeholder: 'Title'
                .input-group-btn
                  %button.btn.btn-danger.clear-selection
                    %i.glyphicon.glyphicon-remove-circle
          .form-group
            .col-xs-offset-2.col-xs-10
              = f.submit class: 'btn btn-success search-protocols'
      .col-xs-2
        %button.btn.btn-default.clear-all
          Clear Search Form
      .row
        .col-xs-4
          .text-center
            = link_to 'Associate Protocols', new_research_master_path, class: 'btn btn-primary btn-block associate-protocols disabled', remote: true
        .col-xs-4
          .text-center
            = link_to 'View/Search Research Master Records', research_masters_path, class: 'btn btn-primary btn-block'
  - if params[:q]
    %table.table.table-striped.table-bordered.table-hover#protocol-table
      %thead
        %tr
          %th
            Select
          %th
            = sort_link(@q, :type, "Type")
          %th
            = sort_link(@q, :protocol_id, "Protocol ID")
          %th
            = sort_link(@q, :eirb_id, "Pro #")
          %th
            = sort_link(@q, :pi_name, "PI Name")
          %th
            = sort_link(@q, :title, "Title")
        %tbody
          - @protocols.each do |protocol|
            %tr
              %td
                - if protocol.type == 'SPARC'
                  .sparc-protocols
                    = check_box_tag "protocol_#{protocol.id}", protocol.id
                - elsif protocol.type == 'EIRB'
                  .eirb-protocols
                    = check_box_tag "protocol_#{protocol.id}", protocol.id
              %td
                = protocol.type
              %td
                - if protocol.type == 'SPARC'
                  = protocol.sparc_id
              %td
                = protocol.eirb_id
              %td
                - unless protocol.primary_pi.nil?
                  = "#{protocol.primary_pi.first_name} #{protocol.primary_pi.last_name}"
                - else
                  N/A
              %td
                = protocol.long_title
  - else
    %h1.text-center
      You haven't searched for any Protocols
= render "research_masters/research_master_modal"
