.panel.panel-primary
  .panel-heading
    Search for Protocols
  .panel-body
    %form#search-protocols
      .form-group
        = label_tag :id, nil, class: 'col-md-2 control-label'
        .col-md-10
          = text_field_tag :protocol_id, nil, class: 'form-control'
      .form-group
        .col-sm-offset-2.col-sm-10
          = link_to 'Search', '#', class: 'btn btn-success', id: 'search'
      .row
        .col-md-6
          .text-center
            = link_to 'Associate Records', new_research_master_path, class: 'btn btn-primary btn-block associated-record disabled', remote: true
        .col-md-6
          .text-center
            = link_to 'View/Search Research Master Records', research_masters_path, class: 'btn btn-primary btn-block'
  %table.table.table-striped.table-bordered.table-hover#protocol-table
    %thead
      %tr
        %th
          Select
        %th
          ID
        %th
          Type
        %th
          PI Name
        %th
          Department
        %th
          Long Title
        %th
          Short Title
        %th
          Funding Source
      %tbody
        - @protocols.each do |key, value|
          %tr
            %td
              .sparc-protocols
                = check_box_tag "protocol_#{key['id']}", key['id']
            %td
              = key['id']
            %td
              = key['type']
            %td
              = key['pi_name']
            %td
              = key['department']
            %td
              = key['title']
            %td
              = key['short_title']
            %td
              = key['funding_source']
= render "research_masters/new_research_master_modal"
