.panel.panel-primary
  .panel-heading
    Search for Protocols
  .panel-body
    = search_form_for(@q, html: { class: 'form-horizontal' }) do |f|
      .form-group
        = f.label :id_eq, 'Search by ID', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :id_eq, class: 'form-control', placeholder: 'Search by ID'
      .form-group
        = f.label :short_title_cont, 'Search by Short Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :short_title_cont, class: 'form-control', placeholder: 'Search by Short Title'
      .form-group
        = f.label :title_cont, 'Search by Long Title', class: 'col-md-2 control-label'
        .col-md-10
          = f.search_field :title_cont, class: 'form-control', placeholder: 'Search by Long Title'
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit class: 'btn btn-success'
      .row
        .col-md-6
          .text-center
            = link_to 'Associate Records', new_research_master_path, class: 'btn btn-primary btn-block associated-record disabled', remote: true
        .col-md-6
          .text-center
            = link_to 'View/Search Research Master Records', research_masters_path, class: 'btn btn-primary btn-block'
  %table.table.table-striped.table-bordered.table-hover#protocol-table
    %thead
      %tr
        %th
          Select
        %th
          = sort_link(@q, :id, "ID")
        %th
          Type
        %th
          PI Name
        %th
          Department
        %th
          = sort_link(@q, :title, "Long Title")
        %th
          = sort_link(@q, :short_title, "Short Title")
        %th
          = sort_link(@q, :funding_source, "Funding Source")
      %tbody
        - @protocols.each do |key, value|
          %tr
            %td
              .sparc-protocols
                = check_box_tag "protocol_#{key['id']}", key['id']
            %td
              = key['id']
            %td
              = key['type']
            %td
              = key['pi_name']
            %td
              = key['department']
            %td
              = key['title']
            %td
              = key['short_title']
            %td
              = key['funding_source']
= render "research_masters/new_research_master_modal"
