%main.card#adminCard
  #researchMastersTableToolbar
    .d-flex.justify-content-end
      = search_form_for(@q, url: admin_research_masters_path, html: { class: 'form-inline', method: :get }) do |f|
        .form-group
          = f.search_field :pi_name_or_short_title_or_long_title_or_id_or_pi_department_cont, class: 'form-control', placeholder: 'Search...'
          = f.submit 'Search', class: 'btn btn-primary'

  %table.table.table-striped.table-hover#research-master-records{ data: { toggle: 'table', url: admin_research_masters_path(format: :json), search: 'true', show_columns: 'true', show_refresh: 'true', page_size: '25', sort_name: 'id', sort_order: 'desc', toolbar: '#researchMastersTableToolbar' } }
    %thead
      %tr
        %th
          = sort_link(@q, :id, 'RMID')
        %th
          = ""
        %th
          = sort_link(@q, :short_title, 'Short Title')
        %th
          = sort_link(@q, :pi_name, 'PI Name')
        %th Creator Name
        %th Created
        %th Updated
        %th eIRB Validated
        %th Actions

      %tbody.research-master-records
        = render "research_master_index_table", research_masters: @research_masters
  .text-center
    = paginate @research_masters
  %div{ class: 'modal fade', id: 'showresearch_master_modal', tabindex: '-1' }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button{ class: 'close', data: { dismiss: 'modal' } }
            %span
              &times;
          %h4.modal-title
            Associated Protocols
        .modal-body
        .modal-footer
          %button{class: 'btn btn-default', data: { dismiss: 'modal' } }
            Close
  = render "research_masters/research_master_modal"
