%p
  = "This is an updated email notification after making changes to the way the department update script works for RMID.  After update, there were #{@missing_pis.count} users in RMID-#{@environment} that have no current LDAP record and, therefore, their data in RMID could not be updated successfully."
%p
  = "The following users in RMID-#{@environment} have no current LDAP record:"
%table
  %tr
    %th
      = "User ID"
    %th
      = "Net ID"
    %th 
      = "Name"
  - @missing_pis.each do |pi|
    %tr 
      %td
        = pi.id
      %td
        = (pi.net_id ? pi.net_id : 'NetID Missing')
      %td
        = pi.name